<!doctype html>
<html lang="en-US">
  <head>
    <title>CMS</title>
    <meta charset="utf-8">
  </head>
  <body>
    <%= @greeting %>
  </body>
</html>


<!doctype html>
<html lang="en-US">
  <head>
    <title>Todo App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="/javascripts/jquery-3.3.1.js"></script>
    <script src="/javascripts/application.js"></script>
  </head>
