 <% if session[:message] %>
   <p class="message"><%= session.delete(:message) %></p>
 <% end %>
 
<form action="/upload/image" method="post">
  <label for="upload">Enter or drag/drop an image url:</label>
  <input class="url-input" type="text" name="upload" value="<%=@url%>">
  <button type="submit">Upload</button>
</form>
